@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
:root{
    --primary-color: blueviolet;
    --secondary-color:  #FF8553;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html, body{
    overflow-x: hidden;
    scroll-behavior:smooth;
}
body{
    /* width: 1440px; */
    width: 100vw;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
a{
    text-decoration: none;
    color: inherit;
}
h1{
    font-size: 1.8rem;
}


/*--------
common css
---------*/
.container {
    max-width: 88%;
    margin: 0 auto;
}
.flex-container{
    display: flex;
}
.grid-container{
    display: grid;
}
.full-width{
    width: 100%;
}
.half-width{
    width: 50%; 
}
.small-text{
    color: var(--primary-color);
    font-size: 1rem;
    display: block;
    font-weight: bold;
}
/* 
.half-width p{
    margin-bottom: 20px;   
}
.half-width img{
    width: 100%;
    border-radius: 5%;
} */

/* navbar */
.navigation{
    position: fixed;
    top: 0;
    background-color: #fff;
    width: 100%;
    z-index: 1;
}
.nav-items{
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    padding: 1.2rem 4rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content: space-between;
}
.nav-logo{
    font-size: 36px;
    font-weight: 800;
    color: var(--primary-color)
}
.nav-items ul {
    justify-content: flex-end;
}

.nav-items ul li {
    list-style: none;
    margin-right: 30px;
}

.nav-items ul li:last-child {
    margin-right: 0;
}

.nav-items ul li a {
    font-size: 1.125rem;
    line-height: 24px;
    font-weight: 500;
}
.nav-items ul li a:hover{
    color: var(--primary-color);
}


/* hero area */
.hero-area{
    padding: 100px 0 0 0;
}
.hero-area .half-width{
    margin: 0 auto;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}
.hero-area .half-width .info div{
    text-align: left;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}
/* .hero-area .details div{
    display: flex;
    align-items: center;
    justify-content: center;
} */

.hero-area .title{
    font-size: 3rem;
}

.hero-area .social-icons{
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* about */
.about{
    padding-top: 100px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 10px;
}
.about .title{
    margin-bottom: 20px;
    color: var(--primary-color);
}
.about-right-area{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: right;
}
.about-right-area img{
    width: 400px;
}
/* education */
.education{
    padding-top: 100px;
    padding-bottom: 50px;
}
.education h1{
    margin-bottom: 20px;
    color: var(--primary-color);
}
table {
    width: 100%;
    border-collapse: collapse;
}
tr{
    position: relative;
}
tr::after{
    content: '';
    position: absolute;
    padding: 6px;
    border-radius: 50%;
    top: 50%;
    left: 49.50%;
    background-color: rgb(79, 29, 126)
}

td {
    width: 50%;
    padding: 30px;
    text-align: center;
  }
td:nth-child(1){
    border-right: 6px solid var(--primary-color);
    text-align: right;
}
td:nth-child(2){
    text-align: left;
}

  /* contact */
.contact{
    padding: 100px 0;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 30px;
}
/* .contact-left-area{

} */
.contact-right-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
    
}
.contact-left-area h1{
    margin-bottom: 20px;
    color: var(--primary-color);
}
.contact-right-area p{
    line-height: 1.8;
}
form input, textarea{
    width: 100%;
    padding: 10px 12px;
    margin: 5px 0;
    font-family: inherit;
}
#textarea-size{
    resize: none;
}
#submit-btn{
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
    font-weight: 500;
}

/* footer  */
footer {
  background: #111;

  height: auto;

  width: 100vw;

  padding-top: 40px;

  color: #fff;
}

.footer-content {
  display: flex;

  align-items: center;

  justify-content: center;

  flex-direction: column;

  text-align: center;
}

.footer-content h3 {
  font-size: 2.1rem;

  font-weight: 500;

  text-transform: capitalize;

  line-height: 3rem;
}

.footer-content p {
  max-width: 500px;

  margin: 10px auto;

  font-size: 14px;

  color: #cacdd2;
}

.socials {
  list-style: none;

  display: flex;

  align-items: center;

  justify-content: center;

  margin: 0.5rem 0 1.5rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;

  color: #fff;

  padding: 5px;
}

.socials a i {
  font-size: 1.1rem;

  width: 20px;

  transition: color 0.4s ease;
}

.socials a:hover i {
  color: var(--primary-color);
}

.footer-bottom {
  background: #000;

  width: 100vw;

  padding: 16px;

  text-align: center;
}

.footer-bottom p {

  font-size: 14px;

  word-spacing: 2px;
}

.footer-bottom p a {
  color: #ccc;

  font-size: 16px;

  text-decoration: none;
}

.footer-bottom span {
  text-transform: uppercase;
}

@media (max-width: 500px) {
  .footer-bottom p {
    float: none;
  }

}